<br>
<br>
<br>
<br>
<div class="container">

  <div *ngIf="user">
    <h2 class="page-header" class="capitalize">{{user.name}}</h2>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">Gebruikersnaam : {{user.username}}</li>
      <li class="list-group-item">Email : {{user.email}}</li>

    </ul>

  </div>
  <br>
  <br>

  <div>
    <h2>Al jouw spelletjes</h2>
    <hr>
    <br>
    <app-spelletje *ngFor="let spelletje of userSpelletjes" [name]=spelletje.name [creator]=spelletje.creator [description]=spelletje.description
      [minimumAge]=spelletje.minimumAge [maximumAge]=spelletje.maximumAge [place]=spelletje.place [Duration]=spelletje.Duration
      [Players]=spelletje.Players> </app-spelletje>
  </div>
</div>